#car-configure
	width: 100%
	height: 100%
	overflow: hidden
	.header, .footer
		position: absolute
		left: 0
		text-align: center
		width: 100%
		z-index: 10
		box-sizing: border-box
		+transition(all .5s ease)
		&.opened
			padding-left: $menuwidth
		h1
			font-weight: normal
	.header
		top: 0
	.footer
		bottom: 0
		display: none
		.share-icon
			background-image: url('/configurator/assets/share-icon.png')
			width: 40px
			height: 40px
			display: inline-block
			margin-right: 15px
		.share
			color: #ffffff
			margin-bottom: 10px
			display: inline-block
			cursor: pointer
			position: relative
			span
				vertical-align: middle
			span.text
				font-family: "Open Sans"
				text-transform: uppercase
				text-shadow: 5px 0 10px rgba(0,0,0,0.5)
				font-size: 24px
			.icons
				display: block
				a
					width: 44px
					height: 44px
					background-size: contain
					background-repeat: no-repeat
					display: block
					position: absolute
					top: 0
					left: 0
					transform: rotate(180deg)
					opacity: 0
					+transition(all .5s ease)
					&:hover
						opacity: 1
				.email
					background-image: url('/configurator/assets/share-icons/email.png')
				.facebook
					background-image: url('/configurator/assets/share-icons/facebook.png')
				.twitter
					background-image: url('/configurator/assets/share-icons/twitter.png')
				.pinterest
					background-image: url('/configurator/assets/share-icons/pinterest.png')

			&:hover
				a
					transform: rotate(0deg)
					opacity: .5
					top: -40px
				.email
					left: -10px
				.facebook
					left: 34px
				.twitter
					left: 78px
				.pinterest
					left: 122px
.section-holder
	position: absolute
	top: 0
	left: -$menuwidth
	max-width: $menuwidth
	width: 100%
	height: 100%
	background-color: #ffffff
	z-index: 11
	+transition(all .5s ease)
	&.opened
		left: 0
		.menu-toggler
			.dashes
				hr
					width: 16px
				hr:first-child
					transform: rotate(-45deg)
				hr:nth-child(2)
					transform: rotate(45deg)
				hr:nth-child(3)
					opacity: 0
					visibility: hidden
			&:hover
				.dashes
					hr
						width: 16px
					hr:first-child
						transform: rotate(-45deg)
					hr:nth-child(2)
						transform: rotate(45deg)
					hr:nth-child(3)
						opacity: 0
						visibility: hidden

	.menu-toggler
		position: absolute
		right: -100px
		width: 100px
		height: 100px
		background-color: $red
		cursor: pointer
		color: #ffffff
		text-align: center
		text-transform: uppercase
		font-size: 12px
		padding: 25px
		box-sizing: border-box
		*
			user-select: none
		hr
			display: block
			width: 32px
			height: 5px
			background-color: #ffffff
			margin: 3px auto
			border: none
			+transition(all .2s ease)
		&:hover
			.dashes
				hr
					width: 16px
				hr:first-child
					transform: rotate(45deg)
				hr:nth-child(2)
					transform: rotate(-45deg)
				hr:nth-child(3)
					opacity: 0
					visibility: hidden
	.menu-content
		box-shadow: 0 0 10px rgba(0,0,0,0.5)
		position: relative
		z-index: 10
		min-height: 100%
		.models
			text-transform: uppercase
			color: $red
			cursor: pointer
			height: 100px
			display: block
			width: 100%
			box-sizing: border-box
			padding: 37px 20px
			font-weight: bold
			i.icon
				background-image: url('/configurator/assets/models-icon.png')
				width: 33px
				height: 24px
			i, span
				vertical-align: middle
				display: inline-block
				margin-right: 5px
		.tabs
			height: 80px
			width: 100%
			background-image: url('/configurator/assets/tabs-bg.png')
			+noselect
			ul
				padding: 0
				margin: 0
				height: 100%
				li
					text-align: center
					color: #808080
					display: inline-block
					height: 100%
					width: 33.3333%
					box-sizing: border-box
					padding: 10px
					text-transform: uppercase
					cursor: pointer
					border-left: 1px solid #808080
					+transition(all .5s ease)
					&:first-child
						border-left: none
					&.active
						background-color: rgba(0,0,0,0.5)
						color: #ffffff
						.icon
							background-position: top
			.icon
				width: 33px
				height: 32px
				background-repeat: no-repeat
				display: block
				margin: 0 auto 5px
				background-position: bottom
				&.accessories
					background-image: url('/configurator/assets/accessories-icon.png')
				&.specifications
					background-image: url('/configurator/assets/speicifications-icon.png')
				&.test-ride
					background-image: url('/configurator/assets/test-ride-icon.png')
		.tabs-wrapper
			position: absolute
			width: 100%
			top: 180px
			box-sizing: border-box
			overflow: auto
			bottom: 0
			+noselect
			.tab-content
				display: none
				width: 100%
				box-sizing: border-box
				&.active
					display: block
				&.accessories
					box-sizing: border-box
					padding: 25px
					h1
						margin: 0
				&.test-ride
					box-sizing: border-box
					padding: 25px
					label
						margin-bottom: 20px
						display: block
						font-size: 16px
						span, input
							vertical-align: middle
						span
							display: inline-block
							width: 35%
							font-weight: bold
						input[type=text], input[type=tel], input[type=email]
							display: inline-block
							width: 65%
							box-sizing: border-box
							padding: 10px
							border: 1px solid #cfcfcf
							box-shadow: 3px 7px 7px rgba(0,0,0,0.1) inset
							background-image: linear-gradient(#f4f4f4, #fff)
						input
							&:focus
								outline: none
						input[type=checkbox]
							float: left
							width: 20px
							height: 20px
							margin-right: 10px
						.checkbox-text
							width: 100%
							display: inline
							font-weight: normal
					.actions
						text-align: center
						margin: 30px auto
						span
							display: none
							&.show
								display: block
								text-align: center
								color: $red
								font-weight: bold
								padding: 10px 0
						&.loading
							input
								display: none
							&:before
								content: 'Please wait...'
								display: inline-block
								background-color: $red
								color: #ffffff
								padding: 10px 30px
								font-size: 18px
								font-weight: bold
								text-transform: uppercase
					input[type=submit]
						border: none
						background-color: $red
						color: #ffffff
						padding: 10px 30px
						display: inline-block
						font-size: 18px
						font-weight: bold
						text-transform: uppercase
						cursor: pointer
					.heading
						text-transform: uppercase
						margin-bottom: 20px
						h2
							font-weight: bold
							font-size: 30px
							margin: 0 0 5px
							&:first-child
								font-weight: normal
						hr
							margin: 0
#reeld-wrapper
	position: relative
	right: 0
	+transition(all .5s ease)
	&.opened
		right: -$menuwidth / 2

.accessory-pick
	ul
		margin: 0
		padding: 0
	li
		width: 50%
		display: inline-block
		padding-bottom: 50%
		position: relative
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		border-bottom: 1px solid #b8b8b8
		border-right: 1px solid #b8b8b8
		box-sizing: border-box
		vertical-align: top
		cursor: pointer
		+transition(all .5s ease)
		&::after
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: transparent
			display: block
			content: ''
			//+transition(all .5s ease)
		&:hover
			&::after
				background-color: rgba(0, 0, 0, 0.70)
		&:nth-child(even)
			border-right: none
		.title
			z-index: 1
			font-size: 14px
			position: absolute
			text-align: center
			padding: 10px
			width: 100%
			box-sizing: border-box
			background-color: #ffffff
			bottom: 0
			background-image: url('/configurator/assets/picker-background.png')
			text-transform: uppercase
		&.active
			.title
				z-index: 0
			&::after
				background-color: rgba(0, 0, 0, 0.70)
				background-image: url('/configurator/assets/circle-check.png')
				background-repeat: no-repeat
				background-position: center
.tab-content
	&.specifications
		padding: 25px
		h1
			margin: 0 0 10px
	.spec
		.title
			cursor: pointer
			width: 100%
			box-sizing: border-box
			padding: 10px
			background-color: $red
			color: #ffffff
			text-transform: uppercase
			font-weight: bold
			font-size: 18px
			+transition(all .5s ease)
			&:hover
				background-color: darken($red, 10)
			&:before
				content: '+'
				display: inline-block
				width: 20px
			&.true
				&:before
					content: '-'
		ul
			list-style: none
			margin: 0
			padding: 10px 0
		li
			position: relative
			margin-bottom: 20px
			&:after
				content: ''
				display: block
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0
				width: 100%
				z-index: -1
				border-bottom: 1px dashed #808080
			.leftside, .rightside
				width: 50%
				display: inline-block
				text-align: left
				position: relative
				z-index: 1
				vertical-align: middle
				span
					padding-right: 10px
					font-weight: bold
			.rightside
				text-align: right
				span
					padding-right: 0
					padding-left: 10px
					font-weight: normal
			span
				background-color: #ffffff
				display: inline-block
		.data
			height: 0
			overflow: hidden
			&.true
				height: auto
