#car-pick
	width: 100%
	height: 100%
	position: relative
	overflow: hidden
	.background
		position: absolute
		top: -20px
		left: -20px
		bottom: -20px
		right: -20px
		background-image: url('/configurator/assets/background.jpg')
		background-size: cover
		z-index: 1
		+filter(blur(15px))
	.content
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: 10
		overflow: hidden
		+tablet
			overflow: auto
		.title
			text-transform: uppercase
			text-align: center
		h1
			font-weight: normal
		.car-wrapper
			width: 50%
			margin: 40px auto
			padding: 30px
			box-sizing: border-box
			background-color: whitesmoke
			background-image: url('/configurator/assets/picker-background.png')
			text-align: center
			box-shadow: 0 0 20px rgba(0,0,0,0.2)
			+tablet
				width: 90%
			a
				display: inline-block
				width: 180px
				max-width: 100%
				cursor: pointer
				text-align: center
				text-transform: uppercase
				font-weight: bold
				margin: 5px
				+transition(all .5s ease)
				&:hover
					color: $red
				img
					width: 100%
				span
					display: block
					margin-top: 10px