=transition($transition)
	-moz-transition:    $transition
	-o-transition:      $transition
	-webkit-transition: $transition
	transition:         $transition

=filter($filter)
	filter: $filter
	-webkit-filter: $filter
	-moz-filter: $filter
	-o-filter: $filter
	-ie-filter: $filter

=tablet
	@media screen and (max-width: $tablet)
		@content
=mobile
	@media screen and (max-width: $mobile)
		@content
