$tablet: 990px
$mobile: 450px

//Colors
$red: #e10a29

$menuwidth: 420px

//Mixins
=noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none