@import 'vars'
@import 'mixins'
@import 'carpick'
@import 'carconfigure'
@import 'loader.css'
body, html
	padding: 0
	margin: 0
	width: 100%
	height: 100%
	font-family: "Open Sans"
hr
	margin: 0 auto
	border: 1px solid $red
	width: 50px
.reel-overlay
	position: absolute !important
	width: 100% !important
	height: 100% !important
	top: 0 !important

