#reeld {
    width: 100%;
    position: relative;
    overflow: hidden;
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#reeld, #reeld * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reel-overlay {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 150;
    width: 100% !important;
    height: 100% !important;
}

@media screen and (min-width:0\0) {
    /* This be explorer */
    background: #fff;
    opacity: 0.0001;
}

.reel-overlay * {
    visibility: hidden;
}

#reeld-layers {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.reeld-layer {
    position: absolute;
}

#reeld-load-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
}
